<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22476154060-5ums57gentglr2m14opftdrda0ebrnn8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22476154060-5ums57gentglr2m14opftdrda0ebrnn8</string>
	<key>API_KEY</key>
	<string>AIzaSyBWpYJ7Ou6jkmsFpx-yrYcYOiojFYBfE1M</string>
	<key>GCM_SENDER_ID</key>
	<string>22476154060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.bennliq.com.benNLiqApp</string>
	<key>PROJECT_ID</key>
	<string>ben-n-liq</string>
	<key>STORAGE_BUCKET</key>
	<string>ben-n-liq.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22476154060:ios:428a09e574c58407</string>
	<key>DATABASE_URL</key>
	<string>https://ben-n-liq.firebaseio.com</string>
</dict>
</plist>